# Build-Ordner
bin/
obj/

# Visual Studio Dateien
.vs/
*.suo
*.user
*.userosscache

# Debug/Release-Ordner
Debug/
Release/

# Backup- und Cache-Dateien
*.db
*.v2
*.cache
*.pdb

# Sonstige temporäre/Projekt-Dateien
*.log
*.tmp
*.bak
*.swp
*.sln.docstates

# Rider/JetBrains
.idea/
*.DotSettings.user
